Source: users-formula-salt
Maintainer: Ashlin Jones <ajones@crowdrise.com>
Section: admin
Priority: optional
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Vcs-Git: https://github.com/hermeticustuxmegistus/salt-users-formula

Package: users-formula-salt
Architecture: all
Depends: ${misc:Depends}, salt-master, reclass
Description: Salt salt users formula
 Manage userse on *nix servers
